#fours(ng-include="'partials/fours'")
.four
    .plan
        img(src="../img/plan/1eta/1p1.png", alt="FourKD 1p1")
    .infoFour
        .titre
            p Four KD 1P1
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 1 plaque
            .column
                .haut
                    span Poids
                .bas
                    p 115 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Mono 220V 3kW 13A
            .column
                .haut
                    span Etuves
                .bas
                    p -
.four
    .plan
        img(src="../img/plan/1eta/2p1.png", alt="FourKD 2p1")
    .infoFour
        .titre
            p Four KD 2P1
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 2 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 200 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 4,5kW 7A
            .column
                .haut
                    span Etuves
                .bas
                    p Option 16 plaques
