#fours(ng-include="'partials/fours'")
.four
    .plan
        img(src="../img/plan/2eta/2p2.png", alt="FourKD 2p2")
    .infoFour
        .titre
            p Four KD 2P2
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 4 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 490 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 10kW 15A
            .column
                .haut
                    span Etuves
                .bas
                    p 16 plaques 60 x 40
.four
    .plan
        img(src="../img/plan/2eta/3p2.png", alt="FourKD 3p2")
    .infoFour
        .titre
            p Four KD 3P2
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 6 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 610 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 10kW 15A
            .column
                .haut
                    span Etuves
                .bas
                    p 16 plaques 60 x 40
.four
    .plan
        img(src="../img/plan/2eta/4p2.png", alt="FourKD 4p2")
    .infoFour
        .titre
            p Four KD 4P2
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 8 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 780 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 13kW 25A
            .column
                .haut
                    span Etuves
                .bas
                    p 16 plaques 60 x 40
.four
    .plan
        img(src="../img/plan/2eta/6p2.png", alt="FourKD 6p2")
    .infoFour
        .titre
            p Four KD 6P2
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 12 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 1030 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 17kW 25A
            .column
                .haut
                    span Etuves
                .bas
                    p 24 plaques 60 x 40
