#fours(ng-include="'partials/fours'")
.four
    .plan
        img(src="../img/plan/3eta/2p3.png", alt="FourKD 2p3")
    .infoFour
        .titre
            p Four KD 2P3
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 6 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 630 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 14kW 20A
            .column
                .haut
                    span Etuves
                .bas
                    p 16 plaques 60 x 40
.four
    .plan
        img(src="../img/plan/3eta/3p3.png", alt="FourKD 3p3")
    .infoFour
        .titre
            p Four KD 3P3
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 9 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 830 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 14kW 20A
            .column
                .haut
                    span Etuves
                .bas
                    p 16 plaques 60 x 40
.four
    .plan
        img(src="../img/plan/3eta/4p3.png", alt="FourKD 4p3")
    .infoFour
        .titre
            p Four KD 4P3
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 12 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 1030 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 19kW 35A
            .column
                .haut
                    span Etuves
                .bas
                    p 16 plaques 60 x 40
.four
    .plan
        img(src="../img/plan/3eta/6p3.png", alt="FourKD 6p3")
    .infoFour
        .titre
            p Four KD 6P3
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 18 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 1300 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 25kW 35A
            .column
                .haut
                    span Etuves
                .bas
                    p 24 plaques 60 x 40
                    
