#fours(ng-include="'partials/fours'")
.four
    .plan
        img(src="../img/plan/4eta/2p4.png", alt="FourKD 2p4")
    .infoFour
        .titre
            p Four KD 2P4
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 8 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 780 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 19kW 30A
            .column
                .haut
                    span Etuves
                .bas
                    p 16 plaques 60 x 40
.four
    .plan
        img(src="../img/plan/4eta/4p4.png", alt="FourKD 4p4")
    .infoFour
        .titre
            p Four KD 4P4
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 16 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 1280 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 25kW 43A
            .column
                .haut
                    span Etuves
                .bas
                    p 16 plaques 60 x 40
.four
    .plan
        img(src="../img/plan/4eta/6p4.png", alt="FourKD 6p4")
    .infoFour
        .titre
            p Four KD 6P4
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 24 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 1700 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 32.5kW 47A
            .column
                .haut
                    span Etuves
                .bas
                    p 24 plaques 60 x 40
