h1 Conception et réalisation d'élément Aluminium et INOX sur mesure
.aluInox
    p Présentation d'éléments réalisés à la demande.
    .imgContent
        .blocContent( ng-repeat="bloc in main.aluInoxInfo")
            a(href="/img/inox/{{bloc.image}}", target="_blank")
                img(src="img/inox/{{bloc.image}}", alt="Four KD" )
            .sousTitre
                p {{bloc.sousTitre}}
