h1 NOS FOURS
#four
    .etage
        .linkPlan
            a(href="/img/plan/1etage.gif", target="_blank") plan 1 étage
        a(href="#/1etage")
            img(src="../img/four/2p1_four.png", alt="FourKD")
        .titre
            p FourKD 1 étage
    .etage
        .linkPlan
            a(href="/img/plan/2etages.gif", target="_blank") plan 2 étages
        a(href="#/2etage")
            img(src="../img/four/4p2_four.png", alt="FourKD")
        .titre
            p FourKD 2 étages
    .etage
        .linkPlan
            a(href="/img/plan/3etages.gif", target="_blank") plan 3 étages
        a(href="#/3etage")
            img(src="../img/four/6p3_four.png", alt="FourKD")
        .titre
            p FourKD 3 étages
    .etage
        .linkPlan
            a(href="/img/plan/4etages.gif", target="_blank") plan 4 étages
        a(href="#/4etage")
            img(src="../img/four/4p4_four.png", alt="FourKD")
        .titre
            p FourKD 4 étages
    .etage
        .linkPlan
            a(href="/img/plan/traiteur.gif", target="_blank") plan Traiteur 
        a(href="#/traiteur")
            img(src="../img/four/traiteur_four.png", alt="FourKD")
        .titre
            p FourKD Traiteur
