h1 HISTORIQUE
.historique()
    .historiqueText
        p
            | Le 
            span FOUR KD 
            | existe depuis 1949. A l'origine, il s'appelait « Lhotte & Rey » du nom de ses créateurs. Il sera rebaptisé en 1967 pour prendre le nom qui est le sien aujourd'hui.
            br
            br
            span Depuis plus de 35 ANS
            |, la CERFEM fabrique 100% des fours KD dans son usine de Champigny sur Marne, située en région parisienne.
            br
            br
            | Le 
            span FOUR KD 
            |est un four électrique à semi-accumulation. Son procédé unique de chauffe repose sur des dalles en ciment réfractaire, en sole et en voûte, dans lesquelles sont logées des résistances interchangeables en nikel chrome.
    .historiqueImg
        img(src="../img/4p2.png" alt="IMG")
.historique(style="flex-wrap: wrap-reverse")
    .historiqueImg
        img(src="../img/6p3.png" alt="IMG")
    .historiqueText
        p
            span Une chaleur douce, qui ne dessèche pas les produits, est produite
            | , absorbée et accumulée par les dalles, garantissant une régularité et une souplesse de cuisson inégalée.
            br
            br
            | Toutes les cuissons sont ainsi permises : viennoiseries, pâtisseries mais églement gratins, viandes et dans les modèles équipés de buée (en option) les différentes sortes de pains. 
            br
            br
            | La robustesse du 
            span FOUR KD
            | , sa fiabilité au cours des années ainsi que son esthétique et sa souplesse d'utilisation lui ont conféré une position dominante sur le Marché ainsi que la renommée de 
            span « SPECIALISTE de la CUISSON »
