h1 ACCUEIL
#slider_container
    ul#slider.image(
        rn-carousel,
        rn-carousel-auto-slide="5",
        rn-carousel-transition="slide",
        rn-carousel-easing="easeInQuad",
        rn-carousel-duration="1100",
        rn-carousel-buffered,
        rn-carousel-index="carouselIndex",
        rn-carousel-controls-allow-loop,
        rn-carousel-on-infinite-scroll-right="loadNextImages()",
        rn-carousel-on-infinite-scroll-left="loadPreviousImages()"
    )
        .rn-carousel-control.rn-carousel-control-prev(ng-click="prevSlide()")
            | <
        .rn-carousel-control.rn-carousel-control-next(ng-click="nextSlide()")
            | >
        li(ng-repeat='image in main.images')
            img(ng-src="/img/slider/{{image.src}}")
#infoAccueil
    #infoText
        p
            span DEPUIS 60 ANS, AU SERVICE DES PROFESSIONNELS DES METIERS DE BOUCHE :
        ul 
            li 
                p Fabrication de FOURS ELECTRIQUES de PATISSERIE à SOLE, concept unique de cuisson sur dalles réfractaires.
            li 
                p Possibilité de fabrication de FOUR SUR MESURE.
            li 
                p Fabrication d'éléments Inox et Aluminium SUR MESURE.
        p
            | N'hésitez pas à nous contacter pour plus d'informations... 
            br
            | Bonne visite sur notre tout nouveau site .
        #facebook
            #facebookLogo
                a(href="http://www.facebook.com/pages/Cerfem-fours-KD/137166653090703?ref=ts", target="_blank")
                    img(src="../img/facebook.png", alt="Facebook", width="50px", height="50px")
            #facebookText
                p Venez nous rejoindre sur Facebook, afin de découvrir notre univers.
    #video
        iframe(
            src="https://www.youtube.com/embed/Y-gPl5gjyUE",
            frameborder="0",
            allowfullscreen)
