h1 NOS OPTIONS
.option
    .description
        ul
            li Version mixte avec buée pour les pains spéciaux sur 2 ou 3 étages à partir du modèle 2P2
            br
            span Puissance électrique supplémentaire :
                br
            p + 1kW/h pour la buée sur 1 étage
                br
                |+ 2kW/h pour la buée sur 2 étages
                br
                |+ 3kW/h pour la buée sur 3 étages
            br
            li Etuve latéral de 16 plaques supplémentaire
            br
            li La finition laiton est disponible
            br
        .couleur
            .text
                p Couleurs disponibles 
                    span (Autres couleurs sur demande)
            .groupeColor
                img(src="img/option/bleue.png", alt="Four KD")
                img(src="img/option/vert.png", alt="Four KD")
                img(src="img/option/rouge.png", alt="Four KD")
                img(src="img/option/noir.png", alt="Four KD")
    img(src="img/option/four_noir.png", alt="Four KD", width="274px", height="349")
