h1 NOS POINTS FORTS
.pointfort
    #pointclef
        .titrePointFort
            p Les fours KD en 7 points clés
        #pointclefText
            .pointclef
                .numero
                    p 1
                .text
                    p Montée en température de 180º en 1H.
            .pointclef
                .numero
                    p 2
                .text
                    p Un encombrement minimum pour une capacité maximum.
            .pointclef
                .numero
                    p 3
                .text
                    p Une grande souplesse d'utilisation.
            .pointclef
                .numero
                    p 4
                .text
                    p Consomation réduite de 30% à 40% grace à un modèle unique de dalle de cuisson.
            .pointclef
                .numero
                    p 5
                .text
                    p Des portes vitrées basculantes ouvrant sur toute la largeur du four.
            .pointclef
                .numero
                    p 6
                .text
                    p Durée de vie des résistances supérieure à 20 ans.
            .pointclef
                .numero
                    p 7
                .text
                    p Chauffe indépendante des étages.
    #dallePlus
        #dalle
            .titrePointFort
                p Cuisson sur dalle réfractaire
            #dalleIMG
                img(src="../img/dalle.jpg", alt="Dalle réfractaire", width="100%", height="100%")
            #dalleText
                p Une épaisseur de 43mm dans laquelle sont logées les résistances en nickel chrome interchangeables d'une durée de vie supérieure à 20 ans.
        #lesPlus
            .titrePointFort
                p Les plus de la CERFEM
            #lesPlusIMG
                img(src="../img/livraison.png" alt="Livraison dans toute la France")
