h1 NOS REFERENCES
.reference(ng-repeat="(k,entreprises) in main.references")
    .title
        p {{k}}
    .infomation(ng-repeat="entreprise in entreprises")
        .nom
            p {{entreprise.nom}}
        .departement
            p {{entreprise.departement}}
        .lieu
            p {{entreprise.lieu}}
