h1 SERVICE APRES VENTE
.sav 
    .textTop
        p Notre équipe à votre service, 
            span 24h sur 24, 7Jours sur 7. 
            |Sur appel téléphonique au 
            span 01 xx xx xx xx 
            |sur Paris et Ile de France
        
.sav
    .container
        img(src="img/sav/sav_01.jpg", alt="Four KD", style="margin-top:10px;")
    .container
        img(src="img/sav/sav_02.jpg", alt="Four KD", style="margin-top:10px;")
.sav
    .container
        img(src="img/sav/sav_03.jpg", alt="Four KD", style="margin-bottom:10px;")
    .textInfo
        p Magasin pièces détachées ouverture du Lundi au Vendredi de 8h00 à 12h00 et de 13h00 à 17h00 au 5 rue Rosignano Marittimo à Champigny sur Marne (94500).
        br 
        p Expédition sur toute la France.
        br
        span Commandes traitées dans la journée dès réception soit par :
            .infoContact
                .info
                    img(src="img/sav/phone.png", alt="Phone")
                    .text
                        p 
                            span TEL : 
                            | 01 xx xx xx xx
                .info
                    img(src="img/sav/fax.png", alt="Phone")
                    .text
                        p 
                            span FAX : 
                            | 01 xx xx xx xx
                .info
                    img(src="img/sav/mail.png", alt="Phone")
                    .text
                        p 
                            span E-MAIL : 
                            | xxxxx@cerfem.com
h1 CONTRAT D'ENTRETIEN
.sav
    .textEntretien
        p Possibilité de 
            span Contrat d'Entretien Annuel
            |, afin de maintenir votre Four KD dans un état optimal de fonctionnement afin de réduire les éventuelles pannes et coûts d'exploitation.
        br
        p Par ailleurs, le contrat d'entretien, vous garantit également, en cas de panne, une intervention 
            span PRIORITAIRE 
            |dans les 24 heures. Celle-ci vous sera facturée à un Tarif préférentiel.
        br
        span N'hésitez pas à nous contacter pour plus d'information.
