#fours(ng-include="'partials/fours'")
.four
    .plan
        img(src="../img/plan/traiteur/traiteur.png", alt="FourKD 2p4")
    .infoFour
        .titre
            p Four KD Traiteur
        .info
            .column
                .haut
                    span Capacité
                    p plaques 60 x 40
                .bas
                    p 4 plaques
            .column
                .haut
                    span Poids
                .bas
                    p 420 Kg
            .column
                .haut
                    span Courant
                .bas
                    p Tri 400V+T+N 9.5kW 15A
            .column
                .haut
                    span Etuves
                .bas
                    p 8 plaques 60 x 40
