doctype html
html(lang="fr",ng-app="myAPP")
  head
    link(rel="stylesheet", href="/css/fix.css",type="text/css")
    link(rel="stylesheet", href="/css/index.css",type="text/css")
    link(rel="stylesheet", href="/lib/loading-bar.css",type="text/css")
    link(rel="stylesheet", href="/lib/angular-carousel.css",type="text/css")
    link(rel="stylesheet", href="/lib/roboto.css",type="text/css")
    base(href="/")
    title
        | Site vitrine
body(ng-controller="MainController as main")
    
    .global
        header
            img(src="../img/header.png")
        nav
            ul
                li
                    a(href="#/") Accueil
                li
                    a(href="#/historique") Historique
                li
                    a(href="#/pointsForts") Points forts
                li
                    a(href="#/fours") Fours
                li
                    a(href="#/options") Options
                li
                    a(href="#/sav") SAV
                li
                    a(href="#/aluInox") Fabrication ALU/INOX
                li
                    a(href="#/reference") Réference
                
        section(ng-view)
        footer
            #mention
                a(href="#/mentions") Mentions legales

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js")
    script(src='/lib/loading-bar.js')
    script(src='/lib/angular-carousel.js')
    script(src='/js/main.js')
