body, html div, table, tr ,td, img, ul, li, p, span, b, input, textarea, select, fieldset, legend, iframe, h1, h2 ,h3 ,h4, h5, h6, a {
  padding: 0;
  margin: 0;
}

* {
    box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

img, iframe {
  vertical-align: top;
  border: 0;
}

input, textarea, select {
  outline: none;
  border: none;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: relative;
  font-family: roboto;
}
pre {
  background: #EEE;
  padding: 10px;
  border-radius: 2px;
  color: #333;
  margin : 10px;
}

label {
    color: #FFF;
    font-size: 13px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

input + label {
    margin-top: 10px;
}

.field , .field_sub {
    display: flex;
    flex-grow: 1;
    margin-bottom: 5px;
}

.field {
    flex-direction: column;
}

.field_sub {
    padding: 10px;
}
    .field_sub .field_container {
        display: flex;
        margin-left: -10px;
        margin-bottom: -10px;
        flex-grow: 1;
        flex-wrap: wrap;
    }
        .field_sub .field_split {
            flex-grow: 1;
            width: 250px;
            min-width: 250px;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-bottom: 10px;
        }

.field_text {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    height: 28px;
    border: 1px solid #CCC;
    font-family: Roboto;
    padding: 0 10px;
    background: rgba(20,20,20,0.6);
    color: #FFF;
    border: none;
}

textarea {
    resize: vertical;
    min-height: 200px;
    margin-bottom: 10px;
    background: rgba(20,20,20,0.6);
    color: #FFF;
    padding: 10px;
    max-height: 600px;
}

input[type="submit"] {
    min-width: 200px;
    background: #7CB342;
    color: #FFF;
    align-content: flex-end;
    margin-left: auto;
    border: 2px solid #9CCC65;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(10,10,10,0.5);
    margin-right: 10px;
}
