body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%)☺fixed; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d))☺fixed; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%)fixed; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%)☺fixed; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%)☺fixed; /* IE10+ */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%)☺fixed; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 )☺fixed; /* IE6-9 */
}

@media screen and (min-width:1000px){
    .global{
        width:70vw;
    }
    section #four .etage .titre p{
        font-size: 1.2vw;
    }
}
@media screen and (max-width:1000px){
    .global{
        width:90vw;
    }
    section #four .etage .titre p{
        font-size: 0.7em;
    }
}
.global{
    margin: auto;
    min-width: 500px;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
}
    header img{
        width: 100%;
    }

nav{
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: #8d6e63; /* Old browsers */
    background: -moz-linear-gradient(top,  #8d6e63 0%, #6d4c41 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d6e63), color-stop(100%,#6d4c41)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8d6e63 0%,#6d4c41 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8d6e63 0%,#6d4c41 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8d6e63 0%,#6d4c41 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8d6e63 0%,#6d4c41 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d6e63', endColorstr='#6d4c41',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 0px 20px #4E342E;
    border-top: 1px solid #5D4037;
    border-left: 1px solid #5D4037;
}
    nav ul{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }
        nav ul li{
            display: flex;
            flex-grow: 1;
            border-bottom: 1px solid #5D4037;
            border-right: 1px solid #5D4037;
        }
        nav ul li:first-child{
            border-radius: 10px 0 0 0;
            border-left: none;
        }
        nav ul li:last-child{
            border-radius: 0 0 10px 0;
        }
            nav ul li a{
                flex:1;
                padding: 12px 25px;
                text-align: center;
                color: #EEE;
                text-shadow: black 2px 2px 10px;
                font-size: 17px;
            }
                nav ul li a:hover{
                    background: #8d6e63; /* Old browsers */
                    background: -moz-linear-gradient(top,  #6d4c41 0%, #8d6e63 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d4c41), color-stop(100%,#8d6e63)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  #6d4c41 0%,#8d6e63 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  #6d4c41 0%,#8d6e63 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  #6d4c41 0%,#8d6e63 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  #6d4c41 0%,#8d6e63 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d6e63', endColorstr='#6d4c41',GradientType=0 ); /* IE6-9 */
                    box-shadow: 0px 0px 10px rgba(60,20,20,0.4) inset;
                }

section {
    margin-top:20px;
    background: #795548;
    box-shadow: 0px 0px 20px #4E342E;
    border: 1px solid #5D4037;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

    section h1 {
        padding: 10px 0;
        margin: 20px 40px;
        border-top: 3px ridge #FFB74D;
        border-bottom: 3px ridge #FFB74D;
        font-weight: bold;
        background: #8D6E63;
        font-size: 30px;
        color:#FFCC80;
        text-shadow: rgba(20,20,20,0.7) 2px 2px 3px;
        text-align: center;
        box-shadow: rgba(20,20,20,0.7) 0px 0px 10px;
    }

/**********************
         HOME
**********************/
    section #slider_container {
        display: flex;
        flex-grow: 1;
    }
    section #slider {
        display: flex;
        border: 1px solid #A1887F;
        box-shadow: 2px 2px 15px rgba(20,20,20,0.2);
        margin: 10px 20px;
        height: 400px;
        background: #263238;
        flex-grow: 1;
        user-select: none;
        position: relative;
    }
        section #slider .next {
            z-index: 9999;
            position: absolute;
            left: 0;
            top: 0;
        }
        section #slider li img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }

    section #infoAccueil{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        padding:20px;
    }

    section #infoText{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width:50%;
        align-items: stretch;
    }
        section #infoText p{
            color: #FFF8E1;
            line-height: 1.8;
            text-shadow: black 2px 2px 10px;
            text-align: justify;
            flex-grow: 1;
            padding-right: 10px;
        }
            section #infoText p span{
                font-weight: bold;
                font-size: 18px;
                text-decoration: underline;
                margin-bottom: 20px;
            }
            section #infoText ul{
                margin: 20px;
            }
                section #infoText ul li{
                    color: #FFF8E1;
                    list-style: disc inside;
                }
                    section #infoText ul li p{
                        /*margin-left: 20px;*/
                    }

        section #infoText #facebook{
            display: flex;
            margin: 20px;
            align-items: center;
            flex-grow: 1;
        }
            section #infoText #facebook #facebookText {
                margin-left:20px;
            }
            section #infoText #facebook #facebookText p{

            }

    section #video{
        display: flex;
        flex-direction: column;
        flex-basis: 480px;
        align-self: center;
        flex-grow: 1;
        border: 1px solid #A1887F;
        box-shadow: 2px 2px 15px rgba(20,20,20,0.2);
    }
        section #video iframe{
            width: 100%;
            height:100%;
            min-height: 300px;
            flex-grow: 1;
        }

/**********************
       HISTORIQUE
**********************/
    section .historique{
        display:flex;
        flex-wrap:wrap;
    }
        section .historique .historiqueText{
            flex-grow: 1;
            padding: 20px;
            width: 60%;
        }
            section .historique .historiqueText p {
                flex-grow: 1;
                font-size: 18px;
                line-height: 2;
                color:#EEE;
                text-shadow: rgba(20,20,20,0.7) 2px 2px 10px;
                text-align: justify;
            }
                section .historique .historiqueText p span{
                    flex-grow: 1;
                    color:#FFA000;
                }
        section .historique .historiqueImg{
            flex-grow: 1;
            margin:20px;
            text-align: center;
        }

/**********************
      POINTS FORTS
**********************/
    section .pointfort p{
        line-height: 2;
        font-size: 15px;
        color: #FFB74D;
    }
    section .pointfort .titrePointFort{
        display: flex;
        align-self: center;
        padding:20px 0;
    }
        section .pointfort .titrePointFort p{
            font-weight: bold;
            font-size: 25px;
            color: orange;
            text-shadow: #EF6C00 0 0 3px;
        }
    section .pointfort{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
        section #pointclef{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0 20px;
        }
            section .pointfort #pointclef #pointclefText{
                display: flex;
                flex-direction: column;
                align-self:center;
            }
                section .pointfort #pointclef .pointclef{
                    display: flex;
                    flex-grow: 1;
                    margin-bottom: 10px;
                    width: 450px;
                }
                    section .pointfort #pointclef .pointclef p{
                        line-height: 2;
                        font-size: 15px;
                        color: #FFB74D;
                    }
                    section .pointfort #pointclef .pointclef .numero{
                        width:30px;
                        height:30px;
                        background: orange;

                        flex-shrink: 0;
                        text-align: center;
                        border-radius: 15px;
                        border:1px solid #EF6C00;
                        line-height: 1.8;
                        margin-right: 10px
                    }
                        section .pointfort #pointclef .pointclef .numero p{
                            font-weight: bold;
                            line-height: 1.9;
                            color: black;
                        }
        section .pointfort #dallePlus{
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
        }
            section .pointfort #dalle{
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
            }
                section .pointfort #dalleIMG{
                    width:320px;
                    height:200px;
                }

                section .pointfort #dalleText{
                    margin-top:20px;
                    width:320px;
                }
                    section .pointfort #dalleText p{
                        text-align: center;
                    }

            section #lesPlus{
                flex-grow: 1;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
                section #lesPlusIMG{
                    margin-top: 20px;
                }
/**********************
         Four
**********************/

    section #four{
        display: flex;
        justify-content: space-around;
        flex: 1;
        padding: 10px;
        margin-bottom: 40px;
    }
        section #four .etage{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
            section #four .etage .linkPlan{
                text-align: center;
                margin-bottom: 5px;
            }
                section #four .etage .linkPlan a{
                    font-size: 12px;
                    text-decoration: underline;
                    color:#FFF;
                    text-shadow: #000 0 0 10px;
                }

            section #four .etage img{
                width:100%;
            }
            section #four .etage .titre{
                display: flex;
                position:absolute;
                bottom: 0;
                left:0;
                width:100%;
                height:15%;
                background:rgba(0,0,0,0.5);
                justify-content: center;
                align-items: center;
            }
                section #four .etage .titre p{
                    display: flex;
                    color:#FFF;
                    font-weight: bold;
                }
    section .four{
        display: flex;
        flex: 1;
        border-top:1px solid #000;
        margin:20px;
        flex-wrap: wrap-reverse;
    }
        section .four .plan{
            display: flex;
            justify-content: center;
            padding:20px;
            flex-grow: 1;
            min-width: 400px;
        }
            section .four .plan img{
                display: flex;
            }
        section .four .infoFour{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-grow: 1;
        }
            section .four .infoFour .titre{
                display: flex;
                justify-content: center;
                padding: 40px 20px;
            }
                section .four .infoFour .titre p{
                    font-weight: bold;
                    font-size: 25px;
                    color: orange;
                    text-shadow: #EF6C00 0 0 5px;
                    text-decoration: underline;
                }
            section .four .infoFour .info{
                display: flex;
            }
                section .four .infoFour .info .column{
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    min-width: 100px;
                    flex-grow: 1;
                    box-shadow: #3E2723 0 0 10px;
                    text-shadow: 0px 0px 2px #000;
                }
                    section .four .infoFour .info .column + .column{
                        margin-left:10px;
                    }
                    section .four .infoFour .info .column .haut{
                        display: flex;
                        flex-direction: column;
                        height:50px;
                        align-items: center;
                        justify-content: center;
                        border:1px solid #A1887F;
                        background: #8D6E63;
                    }
                        section .four .infoFour .info .column .haut :first-child{
                            border-left: none;
                        }
                        section .four .infoFour .info .column .haut span{
                            font-weight: bold;
                            color:#D7CCC8;
                            font-size: 20px;
                        }
                        section .four .infoFour .info .column .haut p{
                            font-size: 12px;
                            color:#D7CCC8;
                        }
                    section .four .infoFour .info .column .bas{
                        display: flex;
                        height:40px;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        border:1px solid #A1887F;
                        background: #8D6E63;
                    }
                        section .four .infoFour .info .column .bas p{
                            vertical-align: middle;
                            font-size: 14px;
                            color:#D7CCC8;
                        }

/**********************
        Options
**********************/
    section .option{
        display:flex;
        width:100%;
        flex-wrap: wrap;
        justify-content: space-around;
        padding:10px;
    }
        section .option p{
            color: #FFF8E1;
            text-shadow: black 2px 2px 10px;
        }
        section .option .description{
            display:flex;
            flex-direction: column;
            min-width: 50%;
            width: 70%;
            flex-grow: 1;
            padding-left:20px;
        }
            section .option .description ul li{
                list-style: disc inside;
                color: #FFF8E1;
                text-shadow: black 2px 2px 10px;
            }
                section .option .description span{
                    font-weight: bold;
                    text-decoration: underline;
                    color: #FFF8E1;
                    text-shadow: black 2px 2px 10px;
                }
                section .option .description p{
                    padding-left: 20px;
                }
                section .option .description .couleur {
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                }
                    section .option .description .couleur .text {
                    }
                        section .option .description .couleur .text p{
                            font-weight: bold;
                        }
                        section .option .description .couleur .text p span{
                            font-style: italic;
                        }
                    section .option .description .couleur .groupeColor{
                        display:flex;
                    }

/**********************
          SAV
**********************/
    section .sav{
        display:flex;
        width:100%;
        padding-top:10px;
        flex-wrap: wrap;
        justify-content: space-around;
        padding:10px 10px 0 10px;
    }
        section .sav p{
            color: #FFF8E1;
            text-shadow: black 2px 2px 10px;
            font-size:18px;
            text-align: justify;
        }
        section .sav span{
            color: #FFA000;
            text-shadow: black 2px 2px 10px;
            font-size:18px;
            text-align: justify;
        }
            section .sav .textTop {
                padding: 10px 40px;
            }
                section .sav .textTop p{
                    text-align: center;
                }
            section .sav .container{
                min-width: 450px;
                width:45%;
            }
            section .sav .container img{
                width: 100%;
                height: auto;
            }
            section .sav .textInfo{
                margin-bottom:10px;
                min-width: 450px;
                width:45%;
                background:rgba(0,0,0,0.25);
                border: 1px solid black;
                padding:10px;
            }
                section .sav .textInfo .infoContact{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top :40px;
                }
                    section .sav .textInfo .infoContact .info{
                        display: flex;
                        margin-top :10px;
                        align-items: center;
                    }
                        section .sav .textInfo .infoContact .info .text{
                            display: flex;
                        }
                        section .sav .textInfo .infoContact .info img{
                            width: 60px;
                            height: 60px;
                        }

                    section .sav .textEntretien{
                padding: 10px 40px;
            }
                section .sav .textEntretien p{
                    text-indent: 40px;
                }

/**********************
        aluInox
**********************/
    section .aluInox{
            display:flex;
            width:100%;
            flex-direction: column;
            padding:0 10px;
    }
        section .aluInox p{
            color: #FFF8E1;
            text-shadow: black 2px 2px 10px;
            font-size:18px;
        }

        section .aluInox .imgContent{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width:100%;
        }
            section .aluInox .imgContent .blocContent{
                position: relative;
                margin:20px 10px 0 10px;
            }
                section .aluInox .imgContent .blocContent a {
                    text-decoration: none;
                }
                    section .aluInox .imgContent .blocContent a img{
                        min-height:240px;
                        max-height:275px;
                        width:auto;
                    }
                section .aluInox .imgContent .blocContent .sousTitre{
                    position: absolute;
                    width:100%;
                    background: rgba(0,0,0,0.5);
                    left:0;
                    bottom:0;
                    text-align: center;
                }

/**********************
        reference
**********************/
    section .reference{
        padding :20px;*
        display: flex;
        flex-direction: column;
    }
        section .reference .title p{
            text-align: center;
            padding :20px;
        }
            section .reference .title p{
                font-weight: bold;
                font-size: 25px;
                color: orange;
                text-shadow: #EF6C00 0 0 3px;
            }
        section .reference .infomation{
            display: flex;
            padding : 5px 10px;
            justify-content: flex-start;
            align-items: center;
            flex-grow: 1;
            border-bottom: 1px solid #5D4037;
        }
            section .reference .infomation:hover{
                cursor: pointer;
                background:#8D6E63;
            }
            section .reference .infomation:last-child{
                border-bottom: none;
            }

            section .reference .infomation p{
                color: #FFF8E1;
                text-shadow: black 2px 2px 10px;
                font-size:18px;
            }
            section .reference .infomation .nom{
                width:33%;
                text-align: left;

            }
            section .reference .infomation .departement{
                width:34%;
                text-align: center;
            }

            section .reference .infomation .lieu{
                width:33%;
                text-align: right;
            }


/**********************
        footer
**********************/
footer{
    width:100%;
    margin-top:20px;
    margin-bottom: 10px;
    display:flex;
    justify-content: flex-end;
}
    footer #mention{
        padding:5px;
        background: #795548;
        border: 1px solid #5D4037;
        border-radius: 5px
    }

        footer #mention a{
            font-size:1em;
            color:#FFF;
        }
